<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.email %></li>
      <% }); %>
    </ul>
    <form action="/users" method="POST">
      <input type="number" name="id" placeholder="ID" required />
      <input type="email" name="email" placeholder="Email" required />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
